.headerNEW{
    padding: 0px;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 12vh;
    background-color: rgba(107, 119, 107, 0.3);
  }
  
  .navbar{
    font-size: 1.1rem;
      width: 90%;
      padding-top: 10;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
  } 
  
  .logo{
      width: 100px;
      height: 80px;
      cursor: pointer;
  }
  
  .navbar ul li{
      list-style: none;
      display: inline-block;
      margin: 0 15px;
      position: relative;
  }
  
  .navbar ul li a{
      text-decoration: none;
      color: white;
      text-transform: uppercase;
  }
  
  .navbar ul li::after{
      content: '';
      height: 3px;
      width: 0%;
      background-color: #5aa8a0;
      position: absolute;
      left: 0;
      bottom: -7px;
      transition: 0.5s;
  }
  
  .navbar ul li:hover::after{
      width: 100%;
  }
  