.notfoundpagecontainer h1 {
    font-size: 200px;
    text-align: center;
    margin-top: 8%;
    color: white;
  }
  
  .notfoundpagecontainer h2 {
    font-size: 50px;
    text-align: center;
    margin-top: 1%;
    color: white;
  }
  


